$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

@import "~bootstrap/dist/css/bootstrap.css";
@import "~slick-carousel/slick/slick", "~slick-carousel/slick/slick-theme";
@import "template";

.c-pointer {
  cursor: pointer;
}
.fa-star {
  color: #ff9500;
}
.btn:disabled {
  cursor: auto !important;
  opacity: 0.4 !important;
  background-color: #000 !important;
}
.disabled {
  cursor: auto !important;
  opacity: 0.4 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.blur{
  backdrop-filter: blur(20px);
}
.product-form .swatch .swatchInput + .swatchLbl.color.medium {
  width: 30px;
  height: 30px;
}
.product-form
.swatch
.swatchInput:hover:not(:disabled)
+ .swatchLbl.color.medium,
.product-form
.swatch
.swatchInput:checked:not(:disabled)
+ .swatchLbl.color.medium,
.product-form .swatch .swatchInput:hover:not(:disabled) + .swatchLbl,
.product-form .swatch .swatchInput:checked:not(:disabled) + .swatchLbl {
  transition: 0.3s;
  box-shadow: 0 0 6px black;
  border: 2px solid #fff;
}
.product-form .swatch .swatchInput:disabled + .swatchLbl.color.medium,
.product-form .swatch .swatchInput:disabled + .swatchLbl.color.medium,
.product-form .swatch .swatchInput:disabled + .swatchLbl,
.product-form .swatch .swatchInput:disabled + .swatchLbl {
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #ddd;
  opacity: 0.4;
  cursor: auto;
}